/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Bandido implementation : © Ophélie Haurou-Béjottes <ophelie.hb@gmail.com> & Julien Plantier <julplantier@free.fr>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * bandido.css
 *
 * Bandido stylesheet
 *
 */

/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/

@media screen and (max-width: 902px) {
    .row {
        text-align: center;
        margin-bottom: 35px; /* Less than that and we hit the scrollmap when the card rotates */
        justify-content: center;
    }
    
    .deck_wrap {
        margin-top: 20px;
        display: inline-block;
        margin-right: 25px;
        padding-top: 5px;
    }
}

@media screen and (min-width: 903px) and (max-width: 997px) {
    .row {
        text-align: center;
        margin-bottom: 35px; /* Less than that and we hit the scrollmap when the card rotates */
        display: flex;
        justify-content: center;
    }
    
    .deck_wrap {
        margin-top: 20px;
        display: inline-block;
        margin-right: 25px;
        padding-top: 5px;
    }
}

@media screen and (min-width:998px) and (max-width: 1149px) {
    .row {
        text-align: center;
        margin-bottom: 35px; /* Less than that and we hit the scrollmap when the card rotates */
        justify-content: center;
    }
    
    .deck_wrap {
        margin-top: 20px;
        display: inline-block;
        margin-right: 25px;
        padding-top: 5px;
    }
}

@media screen and (min-width: 1150px) {
    .row {
        text-align: center;
        margin-bottom: 35px; /* Less than that and we hit the scrollmap when the card rotates */
        display: flex;
        justify-content: center;
    }
    
    .deck_wrap {
        margin-top: 20px;
        display: inline-block;
        margin-right: 25px;
        padding-top: 5px;
    }
}

#playerhand .stockitem {
    box-shadow: 3px 3px 3px #333;
}

.playerhand_wrap {
    margin-top: 20px;
    min-width: 620px; /* min width for cards to not wrap on two lines when resizing */
    display: inline-block;
    padding-top: 5px;
}

.deck {
    display: inline-block;
    width: 200px;
    height: 100px;
    font-size: 30px;
    text-align: start;
    text-shadow: 5px 0 5px white, 0 -5px 5px white, 0 5px 5px white, -5px 0 5px white;
    /* text-indent: 30%; */
    text-align: center;
    vertical-align: bottom;
    font-weight: bold;
    color: #942c01;
    line-height: 1.4em;
    box-shadow: 3px 3px 3px #333;
}

.deck_standard {
    background-image: url('img/cards.jpg'); 
    background-position: 0% -6900%;
}

.deck_covid {
    background-image: url('img/cards_covid.jpg'); 
    background-position: 0% -3300%;
}

.cardontable {
    position: absolute;
    width: 200px;
    height: 100px;
}

.cardontable_standard {
    background-image: url('img/cards.jpg'); 
}

.cardontable_covid {
    background-image: url('img/cards_covid.jpg');
}

.lastcardplayed {
    box-sizing: border-box;
    border: 3px solid red;
}

.possiblemove {
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: white;
    opacity: 0.5; 
}

.possiblemove_covid:hover {
    background-image: url('img/cards_covid.jpg');
}

.possiblemove_standard:hover {
    background-image: url('img/cards.jpg');
}

/** Begin player board classes */
.cp_board {
    padding-top: 10px;
    padding-left: 5px;
}

.cp_board img {
    vertical-align: bottom;
}
/** End player board classes */

/** Begin arrow classes */
.manipulation-arrow {
    background-color: white
}

.manipulation-arrow.rotate-left {
    transform: scaleX(-1); /* transform: rotate(180deg); */
    right: 100px;
}

.manipulation-arrow.rotate-left.anticlockwise {
    transform: none;
}

.manipulation-arrow.reverse {
    transform: rotate(45deg);
}

.manipulation-arrow.rotate-right {
    transform: scaleX(-1);
    left: 100px;
}

.manipulation-arrow.rotate-right.anticlockwise {
    transform: none; /* transform: rotate(180deg); */
}
/** End arrow classes */


/** Begin Scrollmap classes **/
.map_zoom {
    background-image: url('img/zoomicons.png');
    width: 36px;
    height: 36px;
    display: inline-flex;
    position: absolute;
    top: 0px;
}

.map_zoom_in {
    left: 0px;
    background-position:-36px 0px;
}

.map_zoom_out {
    left: 36px;
    background-position:0px 0px;
}

.map_resize {
    left: 72px;
    background-position:-72px 0px;
}

#map_container {
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
}

#map_scrollable, #map_scrollable_oversurface {
    position: absolute;
    top: 205px;
    left:  315px;
}

#map_surface {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    cursor: move;
}

#map_footer {
    text-align: center;
}

#movetop,#moveleft,#moveright,#movedown {
    display: block;
    position: absolute;
    background-image: url('../../../img/common/arrows.png');
    width: 32px;
    height: 32px;
}

#movetop {
    top: 0px;
    left: 50%;
    background-position: 0px 32px;
}
#moveleft {
    top: 50%;
    left: 0px;
    background-position: 32px 0px;
}
#moveright {
    top: 50%;
    right: 0px;
    background-position: 0px 0px;
}
#movedown {
    bottom: 0px;
    left: 50%;
    background-position: 32px 32px;
}
/** End Scrollmap classes **/

