/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Bandido implementation : © Ophélie Haurou-Béjottes <ophelie.hb@gmail.com> & Julien Plantier <julplantier@free.fr>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * bandido.css
 *
 * Bandido stylesheet
 *
 */

/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


.row {
    display: flex;
	width: 98%;
	min-width: 800px;
    height: 200px;
    text-align: center;
}

.playerhand {
    margin-top: 50px;
	min-width: 800px;
}

.deck {
    overflow: hidden;
    margin-top: 50px;
    margin-right: 50px;
    width: 200px;
    height: 100px;
    background-image: url('img/cards.jpg'); 
    background-position: 0% -6900%;
    text-align: center;
    line-height: 100px;
    font-size: 25px;
    text-indent: 100%;
}

.deck:hover {
    background-color: white;
    opacity: 0.5;
    background-image: none;
    text-indent: 0%;
}

.cardontable {
    position: absolute;
    width: 200px;
    height: 100px;
    background-image: url('img/cards.jpg'); 
}

.lastcardplayed {
    box-sizing: border-box;
    border: 3px solid red;
}

.possiblemove {
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: white;
    opacity: 0.5; 
}

.possiblemove:hover {
    background-image: url('img/cards.jpg');
}

/** Begin arrow classes */
.manipulation-arrow {
    background-color: white
}

.manipulation-arrow.rotate-left {
    transform: scaleX(-1); /* transform: rotate(180deg); */
    right: 100px;
}

.manipulation-arrow.rotate-left.anticlockwise {
    transform: none;
}

.manipulation-arrow.reverse {
    transform: rotate(45deg);
}

.manipulation-arrow.rotate-right {
    transform: scaleX(-1);
    left: 100px;
}

.manipulation-arrow.rotate-right.anticlockwise {
    transform: none; /* transform: rotate(180deg); */
}
/** End arrow classes */


/** Begin Scrollmap classes **/
.map_zoom {
    background-image: url('img/zoomicons.png');
    width: 36px;
    height: 36px;
    display: inline-flex;
}

.map_zoom_in {
    background-position:-36px 0px;
}

.map_zoom_out {
    background-position:0px 0px;
}

#map_container {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

#map_scrollable, #map_scrollable_oversurface {
    position: absolute;
    top: 205px;
    left:  315px;
}

#map_surface {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    cursor: move;
}

#map_footer {
    text-align: center;
}

#movetop,#moveleft,#moveright,#movedown {
    display: block;
    position: absolute;
    background-image: url('../../../img/common/arrows.png');
    width: 32px;
    height: 32px;
}

#movetop {
    top: 0px;
    left: 50%;
    background-position: 0px 32px;
}
#moveleft {
    top: 50%;
    left: 0px;
    background-position: 32px 0px;
}
#moveright {
    top: 50%;
    right: 0px;
    background-position: 0px 0px;
}
#movedown {
    bottom: 0px;
    left: 50%;
    background-position: 32px 32px;
}
/** End Scrollmap classes **/

